connector-openweathermap/src/main/resources/current.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="current" type="currentType"/>
  <xs:complexType name="cityType">
    <xs:sequence>
      <xs:element type="coordType" name="coord"/>
      <xs:element type="xs:string" name="country"/>
      <xs:element type="sunType" name="sun"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="weatherType">
    <xs:attribute type="xs:string" name="number"/>
    <xs:attribute type="xs:string" name="value"/>
    <xs:attribute type="xs:string" name="icon"/>
  </xs:complexType>
  <xs:complexType name="temperatureType">
    <xs:attribute type="xs:string" name="value"/>
    <xs:attribute type="xs:string" name="min"/>
    <xs:attribute type="xs:string" name="max"/>
    <xs:attribute type="xs:string" name="unit"/>
  </xs:complexType>
  <xs:complexType name="humidityType">
    <xs:attribute type="xs:string" name="value"/>
    <xs:attribute type="xs:string" name="unit"/>
  </xs:complexType>
  <xs:complexType name="currentType">
    <xs:sequence>
      <xs:element type="cityType" name="city"/>
      <xs:element type="temperatureType" name="temperature"/>
      <xs:element type="humidityType" name="humidity"/>
      <xs:element type="pressureType" name="pressure"/>
      <xs:element type="windType" name="wind"/>
      <xs:element type="cloudsType" name="clouds"/>
      <xs:element type="visibilityType" name="visibility"/>
      <xs:element type="precipitationType" name="precipitation"/>
      <xs:element type="weatherType" name="weather"/>
      <xs:element type="lastupdateType" name="lastupdate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sunType">
    <xs:attribute type="xs:string" name="rise"/>
    <xs:attribute type="xs:string" name="set"/>
  </xs:complexType>
  <xs:complexType name="coordType">
    <xs:attribute type="xs:string" name="lon"/>
    <xs:attribute type="xs:string" name="lat"/>
  </xs:complexType>
  <xs:complexType name="directionType">
    <xs:attribute type="xs:string" name="value"/>
    <xs:attribute type="xs:string" name="code"/>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="precipitationType">
    <xs:attribute type="xs:string" name="mode"/>
  </xs:complexType>
  <xs:complexType name="pressureType">
    <xs:attribute type="xs:string" name="value"/>
    <xs:attribute type="xs:string" name="unit"/>
  </xs:complexType>
  <xs:complexType name="speedType">
    <xs:attribute type="xs:string" name="value"/>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="lastupdateType">
    <xs:attribute type="xs:string" name="value"/>
  </xs:complexType>
  <xs:complexType name="windType">
    <xs:sequence>
      <xs:element type="speedType" name="speed"/>
      <xs:element type="xs:string" name="gusts"/>
      <xs:element type="directionType" name="direction"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cloudsType">
    <xs:attribute type="xs:string" name="value"/>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="visibilityType">
    <xs:attribute type="xs:string" name="value"/>
  </xs:complexType>
</xs:schema>
